ul {

  list-style-type: none;
  background-size: cover;
  position: fixed;
  background-color: rgba(8, 8, 8, 0.7);
  height: 8%;
  width: 100%;
  padding-block-start: 3cm;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 1.3cm;
  padding-top: 0cm;
}


li {

  list-style-type: none;
  position: relative;
}

li a {
  display: flex;
  color: rgb(199, 195, 195);
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-family: monospace;
  padding: 6px 8px;
  justify-content: first baseline;
  background-color: rgba(255, 255, 255, 0.1);


}

li a.active {
  background-color: #0aa6a1;
  color: white;
  opacity: 0.6;
}

li a:hover {
  background-color: hsla(209, 97%, 61%, 0.881);
  border-radius: 5px 5px 5px 5px;
}